*{
    margin: 0;
    padding: 0;
    
}
h2{
    font-size: 20px;
    color: #faf4f6;
    position: absolute;
    top: 90%;
    left: 60px;
}

img{

    width: 100px;
    position: absolute;
    top: 25px;
    left: 80px;
}
h1.slogan{
    color:whitesmoke;
    font-style: italic;
    font-size: 15px;
    position: absolute;
    left: 80px;
    top:120px ;
}
.headline{

    text-align: center;
    padding: 30px;
    color: whitesmoke;
    font-size: 30px;
    font-style: italic;
    position: relative;
    
    
}
.pin{
   /* text-align: center;
    padding: 150px;
    border: 2px solid #444444; /* Border color */
   /* border-radius: 25px; /* Rounded corners */
  /*  background-color: #333333;
    width: 300px;
    height: 50px; */
   text-align: center;
   padding: 40px;
   position: absolute;
   right: 40%;
 
}
.input-box{
    text-align: center;
    width: 350px;
    padding: 10px 15px; /* Padding inside the input box */
    border: 2px solid #444444; /* Border color */
    border-radius: 25px; /* Rounded corners */
    background-color: #faf4f6; /* Dark background color for the input */
    color: black; /* Light text color inside the input */
    font-size: 36px;
    font-style: italic; /* Font size */
    outline: none; /* Remove default outline */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 

    text-align: left;
    width: 350px;
    height: 50px;
   
}
.confirm{
    text-align: center;
    font-size: 50px;
    position: absolute;
    width: 210px;
    height: 60px;
    left: 70%;
    bottom:50% ;
    color:whitesmoke;
    background-color: aqua;
    border-style:solid;
    border-radius: 50px;
    text-decoration: none;
    
    
    

}  
a.else-part{
    color:whitesmoke;
    position: absolute;

    left: 40%;
} 
.cancel{
    border-style:solid;
    color: whitesmoke;
    background-color: aqua;
    width: 210px;
    height: 60px;
    text-align: center;
    position: absolute;
    left: 70%;
    bottom:25% ;
    font-size: 50px;
    border-radius: 50px;

}
.numberpanel{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40%;
    
}
.no-panel{
    background-color: rgb(226, 236, 245);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px rgb(230, 223, 223),
                       5px 5px 12px rgb(31, 25, 25);
  /*  display: grid;*/
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(4,68px); 
    width: 400px;
    height: 300px;

}
button{
    height: 80px;
    width: 70px ;
   
    background-color:bisque;
    box-shadow: inset 5px 5px 12px white,
    5px 5px 12px black;
    border: none;
    border-radius:50%;
    margin: 5px;
    margin-left: 60px;
    font-size: 26px;
    position: relative;
    right: 30px;

}
button:hover{
    background-color: rgb(211, 73, 190);
}
.operation-interface .dep-but{
    position: absolute;
    left: 80%;
    width: 120px;

  
}
.operation-interface .wid-but{
    position: absolute;
    left: 80%;
    top: 45%;
    width: 120px;


}
.operation-interface .bal-but{
    position: absolute;
    left: 80%;
    top: 65%;
    width: 120px;


}
.operation-interface .message-interface{
    position: absolute;
    left: 4%;
    font-size: 20px;
    top: 35%;
    color: white;
}
.operation-interface .balance-interface{
    color: #faf4f6;
    position: absolute;
    left: 4%;
    top: 30%;
    font-size: 30px;

}

/* media query */
@media screen and (max-width: 480px) {

    *{
    margin: 0;
    padding: 0;
    
}
h2{
    font-size: 20px;
    color: #faf4f6;
    position: absolute;
    top: 40%;
    left: 120px;
}

img{

    width: 60px;
    position: absolute;
    top: 25px;
    left: 10px;
}
h1.slogan{
    color:whitesmoke;
    font-style: italic;
    font-size: 15px;
    position: absolute;
    left: 0px;
    top:80px ;
}
.headline{

    text-align: center;
    padding: 30px;
    color: whitesmoke;
    font-size: 15px;
    font-style: italic;
    position: relative;
    left: 60px;
    
    
}
.pin{
   /* text-align: center;
    padding: 150px;
    border: 2px solid #444444; /* Border color */
   /* border-radius: 25px; /* Rounded corners */
  /*  background-color: #333333;
    width: 300px;
    height: 50px; */
   text-align: center;
   padding: 40px;
   position: absolute;
   left: 0%;
 
}
.input-box{
    text-align: center;
    width: 2500px;
    padding: 10px 15px; /* Padding inside the input box */
    border: 2px solid #444444; /* Border color */
    border-radius: 25px; /* Rounded corners */
    background-color: #faf4f6; /* Dark background color for the input */
    color: black; /* Light text color inside the input */
    font-size: 36px;
    font-style: italic; /* Font size */
    outline: none; /* Remove default outline */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
    width: 350px;
    height: 50px;
   
    position: absolute;
    left: 6px;
    
}
.confirm{
    text-align: center;
    font-size: 20px;
    position: absolute;
    width: 100px;
    height: 60px;
    left: 1px;
    top:120%;
    color:whitesmoke;
    background-color: aqua;
    border-style:solid;
    border-radius: 50px;
    text-decoration: none;
    
    
    

}  
a.else-part{
    color:whitesmoke;
    position: absolute;

    left: 40%;
} 
.cancel{
    border-style:solid;
    color: whitesmoke;
    background-color: aqua;
    width: 100px;
    height: 60px;
    text-align: center;
    position: absolute;
    left: 110px;
    top: 120%;
    font-size: 20px;
    border-radius: 50px;

}
.numberpanel{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    
}
.no-panel{
    background-color: rgb(226, 236, 245);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px rgb(230, 223, 223),
                       5px 5px 12px rgb(31, 25, 25);
  /*  display: grid;*/
    display: grid;
    
    grid-gap: 18px;
    grid-template-columns: repeat(4,68px); 
    width: 380px;
    height: 300px;
    position: absolute;
    
    
    top: 30%;

}
button{
    height: 80px;
    width: 70px ;
   
    background-color:bisque;
    box-shadow: inset 5px 5px 12px white,
    5px 5px 12px black;
    border: none;
    border-radius:50%;
    margin: 5px;
    margin-left: 60px;
    font-size: 26px;
    position: relative;
    right: 30px;

}
button:hover{
    background-color: rgb(211, 73, 190);
}
.operation-interface .dep-but{
    position: absolute;
    left: 0%;
    width: 80px;
    top: 110%;
    font-size: 20px;

  
}
.operation-interface .wid-but{
    position: absolute;
    left: 30%;
    top: 110%;
    width: 80px;
    font-size: 18px;


}
.operation-interface .bal-but{
    position: absolute;
    left: 60%;
    top: 110%;
    width: 80px;
    font-size: 20px;


}
.operation-interface .message-interface{
    position: absolute;
    left: 30%;
    font-size: 20px;
    top: 40%;
    color: white;
}
.operation-interface .balance-interface{
    color: #faf4f6;
    position: absolute;
    left: 30%;
    top: 20%;
    font-size: 20px;

}
}
